<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Web SSH</title>
</head>
<body>

<form action="/frame">
    <input type="text" name="hostname">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit">
</form>

</body>
</html>